NFe.Components/Web References/PFraiburgoSC/nfse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ws="http://nfse.abrasf.org.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nfse" targetNamespace="http://nfse.abrasf.org.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://nfse.abrasf.org.br">
      <xsd:complexType name="input">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="nfseCabecMsg" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="nfseDadosMsg" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="output">
        <xsd:sequence>
          <xsd:element name="outputXML" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CancelarNfseRequest" type="ws:input" />
      <xsd:element name="CancelarNfseResponse" type="ws:output" />
      <xsd:element name="ConsultarLoteRpsRequest" type="ws:input" />
      <xsd:element name="ConsultarLoteRpsResponse" type="ws:output" />
      <xsd:element name="RecepcionarLoteRpsRequest" type="ws:input" />
      <xsd:element name="RecepcionarLoteRpsResponse" type="ws:output" />
      <xsd:element name="ConsultarSituacaoLoteRpsRequest" type="ws:input" />
      <xsd:element name="ConsultarSituacaoLoteRpsResponse" type="ws:output" />
      <xsd:element name="ConsultarNfseRpsRequest" type="ws:input" />
      <xsd:element name="ConsultarNfseRpsResponse" type="ws:output" />
      <xsd:element name="ConsultarNfseRequest" type="ws:input" />
      <xsd:element name="ConsultarNfseResponse" type="ws:output" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CancelarNfseRequest">
    <wsdl:part name="parameters" element="ws:CancelarNfseRequest" />
  </wsdl:message>
  <wsdl:message name="CancelarNfseResponse">
    <wsdl:part name="parameters" element="ws:CancelarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:RecepcionarLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfseRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfseResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarSituacaoLoteRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarSituacaoLoteRpsResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseRpsRequest">
    <wsdl:part name="parameters" element="ws:ConsultarNfseRpsRequest" />
  </wsdl:message>
  <wsdl:message name="ConsultarNfseRpsResponse">
    <wsdl:part name="parameters" element="ws:ConsultarNfseRpsResponse" />
  </wsdl:message>
  <wsdl:portType name="nfse">
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="ws:CancelarNfseRequest" />
      <wsdl:output message="ws:CancelarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="ws:ConsultarLoteRpsRequest" />
      <wsdl:output message="ws:ConsultarLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="ws:RecepcionarLoteRpsRequest" />
      <wsdl:output message="ws:RecepcionarLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoLoteRps">
      <wsdl:input message="ws:ConsultarSituacaoLoteRpsRequest" />
      <wsdl:output message="ws:ConsultarSituacaoLoteRpsResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfse">
      <wsdl:input message="ws:ConsultarNfseRequest" />
      <wsdl:output message="ws:ConsultarNfseResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <wsdl:input message="ws:ConsultarNfseRpsRequest" />
      <wsdl:output message="ws:ConsultarNfseRpsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nfseSOAP" type="ws:nfse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/CancelarNfse" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarLoteRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfse" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarSituacaoLoteRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseRps" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfseWSService">
    <wsdl:port name="nfseSOAP" binding="ws:nfseSOAP">
      <soap:address location="https://nfse.ciga.sc.gov.br/webservice/v1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>