NFe.Components.Wsdl/NFse/WSDL/Producao/PFraiburgoSC-CIGA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ws="http://nfse.abrasf.org.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nfse" targetNamespace="http://nfse.abrasf.org.br">
  <wsdl:types>
	<xsd:schema targetNamespace="http://nfse.abrasf.org.br">
		<xsd:complexType name="input">
			<xsd:sequence>
				<xsd:element name="nfseCabecMsg" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="nfseDadosMsg" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="output">
			<xsd:sequence>
				<xsd:element name="outputXML" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
		<xsd:element name="CancelarNfseRequest" type="ws:input" />
		<xsd:element name="CancelarNfseResponse" type="ws:output" />
		<xsd:element name="ConsultarLoteRpsRequest" type="ws:input" />
		<xsd:element name="ConsultarLoteRpsResponse" type="ws:output" />
		<xsd:element name="RecepcionarLoteRpsRequest" type="ws:input" />
		<xsd:element name="RecepcionarLoteRpsResponse" type="ws:output" />		
		<xsd:element name="ConsultarSituacaoLoteRpsRequest" type="ws:input" />
		<xsd:element name="ConsultarSituacaoLoteRpsResponse" type="ws:output" />
		<xsd:element name="ConsultarNfseRpsRequest" type="ws:input" />
		<xsd:element name="ConsultarNfseRpsResponse" type="ws:output" />
		<xsd:element name="ConsultarNfseRequest" type="ws:input" />
		<xsd:element name="ConsultarNfseResponse" type="ws:output" />		
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="CancelarNfseRequest"><wsdl:part element="ws:CancelarNfseRequest" name="parameters"/></wsdl:message>
  <wsdl:message name="CancelarNfseResponse"><wsdl:part element="ws:CancelarNfseResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarLoteRpsRequest"><wsdl:part element="ws:ConsultarLoteRpsRequest" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarLoteRpsResponse"><wsdl:part element="ws:ConsultarLoteRpsResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsRequest"><wsdl:part element="ws:RecepcionarLoteRpsRequest" name="parameters"/></wsdl:message>
  <wsdl:message name="RecepcionarLoteRpsResponse"><wsdl:part element="ws:RecepcionarLoteRpsResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarNfseRequest"><wsdl:part element="ws:ConsultarNfseRequest" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarNfseResponse"><wsdl:part element="ws:ConsultarNfseResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRpsRequest"><wsdl:part element="ws:ConsultarSituacaoLoteRpsRequest" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarSituacaoLoteRpsResponse"><wsdl:part element="ws:ConsultarSituacaoLoteRpsResponse" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarNfseRpsRequest"><wsdl:part element="ws:ConsultarNfseRpsRequest" name="parameters"/></wsdl:message>
  <wsdl:message name="ConsultarNfseRpsResponse"><wsdl:part element="ws:ConsultarNfseRpsResponse" name="parameters"/></wsdl:message>

  <wsdl:portType name="nfse">
    <wsdl:operation name="CancelarNfse">
      <wsdl:input message="ws:CancelarNfseRequest"/>
      <wsdl:output message="ws:CancelarNfseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <wsdl:input message="ws:ConsultarLoteRpsRequest"/>
      <wsdl:output message="ws:ConsultarLoteRpsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <wsdl:input message="ws:RecepcionarLoteRpsRequest"/>
      <wsdl:output message="ws:RecepcionarLoteRpsResponse"/>
    </wsdl:operation>    
    <wsdl:operation name="ConsultarSituacaoLoteRps">
      <wsdl:input message="ws:ConsultarSituacaoLoteRpsRequest"/>
      <wsdl:output message="ws:ConsultarSituacaoLoteRpsResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfse">
      <wsdl:input message="ws:ConsultarNfseRequest"/>
      <wsdl:output message="ws:ConsultarNfseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <wsdl:input message="ws:ConsultarNfseRpsRequest"/>
      <wsdl:output message="ws:ConsultarNfseRpsResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="nfseSOAP" type="ws:nfse">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CancelarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/CancelarNfse"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarLoteRps"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecepcionarLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/RecepcionarLoteRps"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfse">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfse"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSituacaoLoteRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarSituacaoLoteRps"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarNfseRps">
      <soap:operation soapAction="http://nfse.abrasf.org.br/ConsultarNfseRps"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfseWSService">
    <wsdl:port binding="ws:nfseSOAP" name="nfseSOAP">
      <soap:address location="https://nfse.ciga.sc.gov.br/webservice/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>